/* desktop */
@media screen and (min-width: 400px) {
  .Homepage {
    background-color: #fbc9be;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .HomepageDesc {
    text-align: justify;
    font-size: 6vw;
    text-indent: 3em;
    padding-left: 3%;
    padding-right: 3%;
    bottom: 15px;
    position: fixed;
    color: #255f63;
  }

  a {
    color: #255f63;
  }

  .background-pink {
    background-color: #fbc9be;
  }

  .background-purple {
    background-color: #695356;
  }

  .background-peach {
    background-color: #d66950;
  }
}
/* mobile */
@media screen and (max-width: 400px) {
  .Homepage {
    background-color: #fbc9be;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .HomepageDesc {
    text-align: justify;
    font-size: 10vw;
    text-indent: 2em;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 10px;
    position: fixed;
    color: #255f63;
  }

  a {
    color: #255f63;
  }
}
