/* desktop */
@media screen and (min-width: 401px) {
  .Work {
    background-color: #695356;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1000;
    left: 100;
  }

  .Work p {
    text-align: justify;
    font-size: 25px;
    padding-left: 20%;
    padding-right: 20%;
    color: #fbc9be;
  }

  .Work p a {
    background: linear-gradient(
      to bottom,
      var(--mainColor) 0%,
      var(--mainColor) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
  }

  .Work p a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,<svg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'><style type='text/css'>.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}</style><path fill='none' stroke='%23fbc9be' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/></svg>");
    background-position: 0 100%;
    background-size: auto 5px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

  .inutext {
    padding-top: 5%;
    padding-bottom: 2%;
  }
  .artscenetext {
    padding-top: 2%;
  }
  .talariapptext {
    padding-top: 2%;
  }
  .findertext {
    padding-top: 2%;
  }
  .Work a {
    color: #fbc9be;
  }
  .Projects img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  .wavy {
    padding-top: 5%;
    max-width: 100%;
  }
  .ImageSlider {
    display: flex;
    justify-content: center;
  }
}

/* mobile */
@media screen and (max-width: 401px) {
  .Work {
    background-color: #695356;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1000;
    left: 0;
  }

  .Work p {
    text-align: justify;
    font-size: 15px;
    padding-left: 5%;
    padding-right: 5%;
    color: #fbc9be;
  }

  .inutext {
    padding-top: 15%;
  }
  .artscenetext {
    padding-top: 2%;
  }
  .talariapptext {
    padding-top: 2%;
  }
  .findertext {
    padding-top: 2%;
  }

  .Work a {
    color: #fbc9be;
  }

  .Projects {
    background-color: #695356;
  }
  .Projects img {
    max-width: 100%;
  }
  .wavy {
    padding-top: 5%;
    max-width: 100%;
  }
  .ImageSlider {
    display: flex;
    justify-content: center;
  }
}
